@model IntroduceProductModel
@{
    Layout = "_ManagerLayout";
}

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style-introduce-product.css" />
    <style>
        .camera-left,.camera-right{
            width:600px;
            margin:0;
            padding:0;
        }
    </style>
</head>

<div class="camera-container">
    <div class="camera-left">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Camera
            </div>
            <div class="panel-body">
                <div id="my_camera"></div>
                <input type="button" class="btn button-camera mt-3" value="Take Snapshot" onclick="@( Model!=null ? "set_photoindex();" : "")send_photo();" />
            </div>
        </div>
    </div>
    <div class="camera-right">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Captured Photo
            </div>
            <div class="panel-body">
                @if (Model != null)
                {
                    @if (Model.detectedObject!.ObjectIndex != -1)
                    {
                        <img src="data:image/jpeg;base64,@Model.detectedObject.DetectedImageBase64" />
                    }
                }
            </div>
            @if (Model != null)
            {
                @if (Model.detectedObject != null)
                {
                    @if (Model.detectedObject.ObjectIndex != -1)
                    {
                        <input type="submit" class="btn button-camera mt-3" value="Add Object" onclick="submit_form()" />
                    }
                }
            }
            <form id="myform" asp-controller="Operator" asp-action="IntroduceProduct" method="post">
                <input type="hidden" name="detectedObject.DetectedImageBase64" id="detectedObject_DetectedImageBase64" />
                @if (Model != null)
                {
                    <input type="hidden" name="detectedObject.ObjectIndex" id="detectedObject_ObjectIndex" value="@Model.detectedObject!.ObjectIndex" />
                    @for (int i = 0; i < Model.RecycleDetailModels!.Count(); i++)
                    {
                        <input type="hidden" name="RecycleDetailModels[@i].ProductId" id="RecycleDetailModels_@(i)_ProductId" value="@Model.RecycleDetailModels![@i].ProductId" />
                        <input type="hidden" name="RecycleDetailModels[@i].ProductName" id="RecycleDetailModels_@(i)_ProductName" value="@Model.RecycleDetailModels[@i].ProductName" />
                        <input type="hidden" name="RecycleDetailModels[@i].ProductPoint" id="RecycleDetailModels_@(i)_ProductPoint" value="@Model.RecycleDetailModels[@i].ProductPoint" />
                        <input type="hidden" name="RecycleDetailModels[@i].ProductQuantity" id="RecycleDetailModels_@(i)_ProductQuantity" value="@Model.RecycleDetailModels[@i].ProductQuantity" />
                        <input type="hidden" name="RecycleDetailModels[@i].SubTotalPrice" id="RecycleDetailModels_@(i)_SubTotalPrice" value="@Model.RecycleDetailModels[@i].SubTotalPrice" />
                    }
                }
            </form>
        </div>
    </div>
</div>
<div class="col-10 m-auto mt-3">
    <table class="table bg-white rounded shadow-sm table-hover">
        <thead>
            <tr class="table-primary text-muted">
                <th></th>
                <th>Object Name</th>
                <th>Object Point</th>
                <th>Recycle quantity</th>
                <th>Total point from Object</th>
            </tr>
        </thead>
        <tbody id="myTBody">
            @if (Model != null)
            {
                @for (int i = 0; i < Model.RecycleDetailModels!.Count(); i++)
                {
                    <tr>
                        <td>@Html.HiddenFor(m=>m.RecycleDetailModels![i].ProductId)</td>
                        <td>@Html.DisplayFor(m=>m.RecycleDetailModels![i].ProductName)</td>
                        <td>@Html.DisplayFor(m=>m.RecycleDetailModels![i].ProductPoint)</td>
                        <td>@Html.DisplayFor(m=>m.RecycleDetailModels![i].ProductQuantity)</td>
                        <td>@Html.DisplayFor(m=>m.RecycleDetailModels![i].SubTotalPrice)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@if (Model != null)
{
    @if (Model.RecycleDetailModels!.Count != 0)
    {
        <input type="submit" class="btn button-camera mb-2" value="Recycle Assign" onclick="go_to_set_recycle()" />
    }
}
<script src="~/webcamjs/webcam.js"></script>
<script src="~/js/introduce-product.js"></script>

<script type="text/javascript">
    Webcam.set({
        width: 600,
        height: 450,
        image_format: 'jpeg',
        jpeg_quality: 100
    });
    Webcam.attach("#my_camera");
</script>

