@model SetRecycleModel
@{
    Layout = "_ManagerLayout";
}

<head>
    <!-- Custom CSS -->
    <link href="~/css/style-set-operator.css" rel="stylesheet" />
    <style>
        .focusedTr {
            background-color: #3770c8;
            color: white;
        }
    </style>
</head>

<div>
    <table class="table bg-white rounded-lg shadow-sm table-hover">
        <thead>
            <tr class="table-primary text-muted">
                <th></th>
                <th>Object Name</th>
                <th>Object Point</th>
                <th>Recycle quantity</th>
                <th>Total point from Object</th>
            </tr>
        </thead>
        <tbody>
            <form id="myform" asp-controller="Operator" asp-action="RecycleConfirmed" method="post">

                <input id="userId" name="userId" type="hidden" />
                @if (Model != null)
                {
                    @for (int i = 0; i < Model.recycleDetailModels!.Count(); i++)
                    {
                    <tr>
                        <td>@Html.HiddenFor(m=>m.recycleDetailModels[i].ProductId)</td>
                        <td>@Model.recycleDetailModels[i].ProductName @Html.HiddenFor(m=>m.recycleDetailModels[i].ProductName)</td>
                        <td>@Model.recycleDetailModels[i].ProductPoint @Html.HiddenFor(m=>m.recycleDetailModels[i].ProductPoint)</td>
                        <td>@Model.recycleDetailModels[i].ProductQuantity @Html.HiddenFor(m=>m.recycleDetailModels[i].ProductQuantity)</td>
                        <td>@Model.recycleDetailModels[i].SubTotalPrice @Html.HiddenFor(m=>m.recycleDetailModels[i].SubTotalPrice)</td>
                    </tr>
                    }
                }
            </form>
        </tbody>
    </table>
</div>
<div class="row my-5">
    <div class="col">
        <div class="row-input">
            <input type="text"
                   name="search"
                   id="myInput"
                   placeholder="Search..."
                   onkeyup="search()" />
            <button onclick="submit_form()" class="confirm-button">Confirm</button>

        </div>
        <table class="table bg-white rounded shadow-sm table-hover">
            <thead>
                <tr class="table-primary text-muted">
                    <th scope="col" width="50">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">E-Mail</th>
                </tr>
            </thead>
            <tbody id="myTBody">
                @foreach (var user in Model.UserModels)
                {
                    <tr onclick="selectUser(this)">
                        <th id="tableId">@user.Id</th>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/set-recycle-to-user.js"></script>