@{
    ViewData["Title"] = "- Forum";
}

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style-forum-topics.css" />
</head>

@{
    var list = (List<TopicModel>)ViewBag.TopicModel;
}

<section class="topics">
    <div class="container">
        <div class="col-lg-9 m-auto">
            <div class="card m-auto">
                <div class="card-body">
                    <h2 class="topics-title">Topics</h2>
                    <hr />

                    @foreach (var item in list)
                    {
                        <div class="topics-info">
                            <div class="row">
                                <div class="col-3 topics-info-user">
                                    <img src="~/images/user-logo.png" alt="user-logo" />
                                    <span id="topics-info-username">@item.User.Username</span>
                                    <p>
                                        Created on<br> <span id="topics-info-date">@item.Date</span>
                                    </p>
                                    <p>Answering: <span id="topics-info-answer">@item.ReplyCount</span></p>
                                </div>
                                <div class="col-9 topics-info-question">
                                    <div class="topics-info-question-title">
                                        <a asp-area="" asp-controller="Forum" asp-action="Topic" asp-route-id="@item.Id">@item.Title</a>
                                        <hr />
                                    </div>
                                    <div class="topics-info-lite-question d-flex align-items-center">
                                        @item.Text
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>